<!-- ===================== Start banner ===========================================-->
<section class="landing-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 " style="z-index: 999;">
                <div class="main-heading" style="color: #fff; text-align: left;">
                    <span style="font-size: 50px;"> About Us</span>
                    <p style="font-size: 25px;">Big enough to know how, <br>
                        Small enough to care why.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-overlay"></div>
</section>
<!-- ===================== end banner ===========================================-->

<!--===========================start about-us ====================================-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                    <div class="about-left">
                        <figure style="position: relative;">
                            <!-- <img src="images/23.jpg" class="w-100" alt=""> -->
                             <img src="assets/images/about.png" class="w-75" alt="">
                             <img src="assets/images/icon-01.png" class="about-icon-01 " alt="">
                             <img src="assets/images/icon-02.png" class="about-icon-02 " alt="">
                             <img src="assets/images/icon-03.png" class="about-icon-03" alt="">
                             <img src="assets/images/icon-04.png" class="about-icon-04 " alt="">
                        </figure>
                    </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text-container">
                    <div class="about-text">
                        <div class="main-heading" >
                            <span> About Us </span>
                        </div>
                        <p>GOODAID is a team of exceptionally talented people, who are not satisfied with the status quo of the current pharmaceutical ecosystem of our country.
                        </p>
                        <p>We are bringing access to a portfolio of high quality pharmaceuticals, across prescribed (Rx) and non prescribed(Non -Rx/OTC) formulations, establishing new benchmarks of Quality and Accessibility.
                        </p>
                        <p>Quality today means being authentic, being functional, being sustainable and being sensibly priced. We are committed to these principles without T&C’s
                        </p>
                        <p>We are here to carry forward the work of scientists and innovators who discovered these life saving drugs. All our products leverage generic formulations (Drugs that were once patented and are now available for the world to access and operate in a fair market), manufactured and tested as per the rigorous standards laid down by World Health Organisation & FDA.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================end about-us ====================================-->

<!--============================end Vision ====================================-->

<section  class="mission-section">
    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;"> 
            
            <div class="col-lg-6 mission">
                <div class="vision-text-container">
                    <div class="main-heading" >
                        <span> Our  Mission </span>
                    </div>
                    <p>
                        To deliver Accessible Healthcare via Highest Quality Generics and sharing Actionable Tools, Inspirational Stories, Decoded Knowledge with everyone.
                    </p>
                    <p>Power to you to be Healthy & Happy and Pay it forward.

                    </p>
                </div>
            </div>
            <div class="col-lg-6 rocket-container">
                <div class="vision-img-container">
                    <img src="assets/images/rocket.png"  class="rocket-img w-25" alt="" >
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================end vision ====================================-->

<!--============================start Fsq ====================================-->
<section>
    <div class="container">

        <div class="row justify-content-center fsq-row">
            <div class="col-lg-7">
                <div class="fsq-container">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item fsq-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button fsq-button-01 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                What are generic medicines?
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="fsq-ans">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores cum sequi non placeat numquam ex, earum illum nobis in? Aut praesentium cum cupiditate alias similique fuga nemo libero inventore.</p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item fsq-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button fsq-button-01 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              Item #2
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="fsq-ans">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores cum sequi non placeat numquam ex, earum illum nobis in? Aut praesentium cum cupiditate alias similique fuga nemo libero inventore.</p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item fsq-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button fsq-button-01 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              Item #3
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="fsq-ans">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores cum sequi non placeat numquam ex, earum illum nobis in? Aut praesentium cum cupiditate alias similique fuga nemo libero inventore.</p>
                                </div>
                            </div>
                          </div>
                        </div>
                          <div class="accordion-item fsq-item">
                            <h2 class="accordion-header" id="flush-headingfour">
                              <button class="accordion-button fsq-button-01 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                                Item #4
                              </button>
                            </h2>
                            <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="fsq-ans">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores cum sequi non placeat numquam ex, earum illum nobis in? Aut praesentium cum cupiditate alias similique fuga nemo libero inventore.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="accordion-item fsq-item">
                            <h2 class="accordion-header" id="flush-headingfive">
                              <button class="accordion-button fsq-button-01 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                                Item #5
                              </button>
                            </h2>
                            <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="fsq-ans">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores cum sequi non placeat numquam ex, earum illum nobis in? Aut praesentium cum cupiditate alias similique fuga nemo libero inventore.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="accordion-item fsq-item">
                            <h2 class="accordion-header" id="flush-headingsix">
                              <button class="accordion-button fsq-button-01 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                                Item #6
                              </button>
                            </h2>
                            <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="fsq-ans">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolores cum sequi non placeat numquam ex, earum illum nobis in? Aut praesentium cum cupiditate alias similique fuga nemo libero inventore.</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex justify-content-center align-items-center" >

                
                <div class="fsq-containt">
                    <div class="main-heading" >
                        <span> About Generics</span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum reiciendis, labore molestiae temporibus dignissimos odio minima fugiat similique iusto quisquam non voluptatem cumque tempore rerum id tempora? Nulla, non. Itaque?</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum reiciendis, labore molestiae temporibus dignissimos odio minima fugiat similique iusto quisquam non voluptatem cumque tempore rerum id tempora? Nulla, non. Itaque?</p>

                </div>
            </div>
            
        </div>
    </div>
</section>

<!--============================end Fsq ====================================-->


<!-------------------------- start why choose us -------------------------------->
<section style="padding: 100px 0px;">
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="main-heading">
                <span> Why Choose Us </span>
            </div>
            <div class="main-btn">
                <a class="custom-btn" role="button">About Us</a>

            </div>
        </div>
        <div class="col-lg-8">
            <ul class="row row-cols-1 row-cols-md-2 g-0 justify-content-center">
                <li class="choose-list">
                    <div class="list-icon"><i class="bi bi-rocket-takeoff"></i></div>
                    <div class="list-content">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iure, provident quo expedita veniam alias,</p>
                    </div>
                </li>
                <li class="choose-list">
                    <div class="list-icon"><i class="bi bi-rocket-takeoff"></i></div>
                    <div class="list-content">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iure, provident quo expedita veniam alias,</p>
                    </div>
                </li>
                <li class="choose-list">
                    <div class="list-icon"><i class="bi bi-rocket-takeoff"></i></div>
                    <div class="list-content">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iure, provident quo expedita veniam alias,</p>
                    </div>
                </li>
                <li class="choose-list">
                    <div class="list-icon"><i class="bi bi-rocket-takeoff"></i></div>
                    <div class="list-content">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iure, provident quo expedita veniam alias,</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
<!-------------------------- end why choose us ---------------------------------->

