<header>
    <!-------------------------------------  Star Nav Bar--------------------------------->
    <nav class="navbar custom-nav">
        <div class="container-fluid">
            <a class="navbar-brand custom-nav-brand"><img src="images/good-aid-logo-white.svg" alt="" /></a>
            <div class="d-flex custom-nav-menu-icon">
                <div class="menu-icon-group" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                    <h3 class="open-menu">Menu</h3>
                </div>
            </div>

            <!----------------------------------- offcanvas start ------------------------------>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><img src="images/GoodaidLogo--02.svg" class="w-75" alt="" /></h5>
                    <h3 class="menu-close" data-bs-dismiss="offcanvas" aria-label="Close">Close</h3>
                    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                </div>
                <div class="offcanvas-body d-flex justify-content-center">
                    <ul class="menu-list">
                        <li class="menu-list-item">
                            <a routerLink="/"> Home </a>
                        </li>
                        <li class="menu-list-item">
                            <a routerLink ="/about"> About </a>
                        </li>
                        <li class="menu-list-item">
                            <a routerLink="/product"> Product </a>
                        </li>
                        <li class="menu-list-item">
                            <a routerLink="/tool"> Tool</a>
                        </li>
                        <li class="menu-list-item">
                            <a routerLink="/contact">Contact us </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-footer">
                    <div class="row g-1">
                        <div class="col offcanvas-footer-icon">
                            <a ><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <div class="col offcanvas-footer-icon">
                            <a ><i class="bi bi-twitter"></i></a>
                        </div>
                        <div class="col offcanvas-footer-icon">
                            <a ><i class="bi bi-linkedin"></i></a>
                        </div>
                        <div class="col offcanvas-footer-icon">
                            <a ><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------- offcanvas end ------------------------------>
        </div>
    </nav>
    <!-------------------------------------End Nav Bar------------------------------------>



</header>

<router-outlet></router-outlet>

<footer>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="footer-card h-100 d-flex align-items-center justify-content-center">
                    <div class="footer-card-body">
                        <img src="images/good-aid-logo-white.svg" class="w-100" alt="" />
                        <p style="color: #fff;">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit..
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="footer-card h-100">
                    <div class="footer-card-body">
                        <div class="footer-card-title">
                            <h4>Product List</h4>
                        </div>
                        <ul class="row row-cols-1 row-cols-md-1 g-0" style="padding: unset;">
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/index.html"> Lorem ipsum dolor sit.</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/about.html">Lorem ipsum dolor sit.</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/contact.html">Lorem ipsum dolor sit. </a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit.</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit.</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit.</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit.</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit.</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="footer-card h-100">
                    <div class="footer-card-body">
                        <div class="footer-card-title">
                            <h4>Lorem, ipsum dolor.</h4>
                        </div>
                        <ul class="row row-cols-1 row-cols-md-1 g-0" style="padding: unset;">
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/index.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/about.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/contact.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html"> Lorem ipsum dolor sit amet consectetur </a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit amet consectetur </a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit amet </a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                                </div>
                            </li>

                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                                </div>
                            </li>
                            <li class="choose-list">
                                <div class="list-content footer-list-content">
                                    <a href="/product.html"> Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #424f5d;">
        <div class="menu-footer" style="background-color: unset;">
            <div class="row align-items-center">
                <div class="col-lg-6 footer-social-icon">
                    <div class="row g-2">
                        <div class="offcanvas-footer-icon w-auto">
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </div>
                        <div class="offcanvas-footer-icon w-auto">
                            <a href=""><i class="bi bi-twitter"></i></a>
                        </div>
                        <div class="offcanvas-footer-icon w-auto">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                        <div class="offcanvas-footer-icon w-auto">
                            <a href=""><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 footer-social-icon">
                    <div class="row g-2 justify-content-end">
                        <div class="app-download-btn w-auto">
                            <a href=""><img src="images/apple-download.png" /></a>
                        </div>
                        <div class="app-download-btn w-auto">
                            <a href=""><img src="images/google-play-download.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>