@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* @font-face {
    font-family: Sofia Pro, sans-serif;
    src: url(../font/Sofia\Pro\Regular\Az.otf);
} */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    color: #fff;
}

body {
    box-sizing: border-box;
    font-family: Sofia Pro, sans-serif !important;

    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
p {
    font-size: 18px;
}
section {
    margin: 50px 0px;
}

/************************************* Start custom-btn **********************************************/
.main-btn{
    text-align: center;
    height:100px
}
.custom-btn {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 30px;

    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.custom-btn::after,
.custom-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all 0.4s;
}

.custom-btn::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #ef3f23;
    border-radius: 10px;
}

.custom-btn::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.custom-btn:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.custom-btn:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.custom-btn:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

/************************************* End custom-btn **********************************************/

/****************************** start main heading ***********************************************/
.main-heading {
    text-align: center;
    margin: 40px 0px;
}
span {
    font-size: 40px;
    font-weight: 600;
    padding: 5px 10px;
    transform: translate(-50%, -50%);
    /* background-image: linear-gradient(#2d3843, #2d3843); */

    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

span:hover {
    color: #fff;
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position 0.7s, background-size 0.5s ease-in-out;
}

/****************************** end main heading *************************************************/

/*--------------------------- Start nav bar------------------------------------------- */
.custom-nav {
    background-color: #2d3843;
}

.menu-icon-group {
    cursor: pointer;
}
.menu-list {
    list-style: none;
    height: auto;
}

.menu-list-item a {
    color: #2d3843;
    font-size: 40px;
    font-weight: 600;
    padding: 5px 10px;
    transform: translate(-50%, -50%);
    /* background-image: linear-gradient(#2d3843, #2d3843); */

    background-size: 0px 50px;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size 0.7s, background-position 0.5s ease-in-out;
    text-decoration: none;
}
.menu-close {
    color: #2d3843;
    cursor: pointer;
    font-size: 25px;
    display: flex;

    align-items: center;
    transition: 1s ease-out;
}
.menu-close:hover {
    transform: scale(1.2);
}
.open-menu {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    transition: 1s ease-in;
}
.open-menu:hover {
    text-decoration: underline;
    transform: scale(1.2);
}
.menu-list-item:hover a {
    color: #fff;
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position 0.7s, background-size 0.5s ease-in-out;
}

.menu-footer {
    width: 100%;
    background-color: #2d3843;
    padding: 20px 50px;
}
.offcanvas-footer-icon a {
    color: #fff;
    border: unset;
    padding: 10px;

    transition: all 0.5s ease-in-out 0s;
    font-size: 20px;
    border-radius: 50%;
}

.offcanvas-footer-icon:hover a {
    box-shadow: 0px 0px 5px 0px;
}

/*--------------------------- end nav bar------------------------------------------- */

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #2d3843;
    border: 4px solid #2d3843;
}
.carousel-indicators {
    bottom: 10%;
}
.custom-slider-img {
    position: relative;
}
.header-overlay {
    background-color: #2d3843a6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    color: #fff;

    z-index: 999;
}

.carousel-caption h2 {
    font-weight: 700 !important;
    font-size: 45px;
    margin-bottom: 30px;
}

.diseases-title {
    font-size: 18px;
}
.diseases-card-001 {
    /* border-bottom: 5px solid rgb(210, 48, 146) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-001:hover .card-title {
    color: rgb(210, 48, 146);
    animation: border-animation 0.5s;
}

.diseases-card-002 {
    /* border-bottom: 5px solid rgb(77, 184, 78) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-002:hover .card-title {
    color: rgb(77, 184, 78);
    animation: border-animation 0.5s;
}
.diseases-card-003 {
    /* border-bottom: 5px solid rgb(249, 56, 34) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-003:hover .card-title {
    color: rgb(249, 56, 34);
    animation: border-animation 0.5s;
}
.diseases-card-004 {
    /* border-bottom: 5px solid rgb(255, 209, 0) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-004:hover .card-title {
    color: rgb(255, 209, 0);
    animation: border-animation 0.5s;
}
.diseases-card-005 {
    /* border-bottom: 5px solid rgb(0, 154, 206) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-005:hover .card-title {
    color: rgb(0, 154, 206);
    animation: border-animation 0.5s;
}
.diseases-card-006 {
    /* border-bottom: 5px solid rgb(136, 139, 141) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-006:hover .card-title {
    color: rgb(136, 139, 141);
    animation: border-animation 0.5s;
}
.diseases-card-007 {
    /* border-bottom: 5px solid rgb(244, 117, 34) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-007:hover .card-title {
    color: rgb(244, 117, 34);
    animation: border-animation 0.5s;
}
.diseases-card-008 {
    /* border-bottom: 5px solid rgb(200, 130, 64) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-008:hover .card-title {
    color: rgb(200, 130, 64);
    animation: border-animation 0.5s;
}
.diseases-card-009 {
    /* border-bottom: 5px solid rgb(255, 88, 93) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-009:hover .card-title {
    color: rgb(255, 88, 93);
    animation: border-animation 0.5s;
}
.diseases-card-010 {
    /* border-bottom: 5px solid rgb(255, 88, 93) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-010:hover .card-title {
    color: rgb(255, 88, 93);
    animation: border-animation 0.5s;
}
.diseases-card-011 {
    /* border-bottom: 5px solid rgb(255, 209, 0) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-011:hover .card-title {
    color: rgb(255, 209, 0);
    animation: border-animation 0.5s;
}
.diseases-card-012 {
    /* border-bottom: 5px solid rgb(200, 130, 65) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-012:hover .card-title {
    color: rgb(200, 130, 65);
    animation: border-animation 0.5s;
}

.diseases-card-013 {
    /* border-bottom: 5px solid rgb(80, 187, 120) !important; */
    border: unset;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px;
    animation: border-animation 0.5;
    transition: all 0.2s ease-in-out 0s;
}

.diseases-card-013:hover .card-title {
    color: rgb(80, 187, 120);
    animation: border-animation 0.5s;
}

.product-section {
    /* background-image: url(../../images/features.jpg); */
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 50px 0px;
}
.product-left {
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 40px;
}

.product-right {
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 40px;
}

.product-left-inner p {
    color: #fff;
}
.product-right-inner {
    padding: 20;
}
.product-right-inner img {
    border-radius: 10px;
}

.list-icon .bi {
    background-color: #5dcbf0;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    margin: 0px 20px;
    transition: all 0.2s ease-in-out 0s;
}

.choose-list {
    display: flex;
    transition: all 0.2s ease-in-out 0s;
}

.choose-list:hover .list-icon .bi {
    animation: border-animation 0.5s;
    transition: all 0.2s ease-in-out 0s;
    background-color: #ef3f23;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.ProductSlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    z-index: 99;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo-product {
    opacity: 0.6;
}

.active,
.demo-product:hover {
    opacity: 1;
}

.inspiring-section {
    position: relative;
    /* background-image: url(../../images/testimonials.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    /* height: 100vh; */
    padding: 100px 0px;
}

.custom-carousel-caption {
    position: relative !important;
    top: unset !important;
    transform: unset !important;
    right: unset !important;
    color: #fff;
    left: unset !important;
    z-index: 999;
}

.inspiring-control-btn {
    position: relative;
}
.inspiring-slider {
    background-color: aliceblue;
    border: 3px solid;
    border-radius: 10px;
}
.inspiring-img {
    padding: 10px;
    border-radius: 20px;
}

.inspiring-control-prev {
    position: unset !important;
    border: 2px solid #2d3843;
    width: 5%;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
}

.inspiring-control-next {
    position: unset !important;
    border: 2px solid #2d3843;
    width: 5%;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
}

.inspiring-control-prev-icon {
    transform: unset !important;
    background-image: unset !important;
    height: unset;
    padding: unset;
    font-size: 25px;
}

.inspiring-control-next-icon {
    transform: unset !important;
    background-image: unset !important;
    height: unset !important;
    padding: unset;
    font-size: 25px;
}

/*************************************************************** About Us  ************************************
***************************************************************************************************************/

.landing-banner {
    /* background-image: url(../../images/features.jpg); */
    height: 35vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: unset !important;
    position: relative;
    display: flex;
    align-items: center;
}

.about-icon-01 {
    width: 100px;
    position: absolute;
    filter: drop-shadow(2px 2px 1px);
    animation: about-icon 10s infinite;
    transition: ease-in-out;
}

.about-icon-02 {
    width: 70px;
    position: absolute;
    top: 87%;
    filter: drop-shadow(2px 2px 1px);
    left: 40%;
}

.about-icon-03 {
    width: 70px;
    position: absolute;
    top: 87%;
    filter: drop-shadow(2px 2px 1px);
    left: 55%;
}

.about-icon-04 {
    width: 90px;
    position: absolute;
    top: 30%;
    filter: drop-shadow(2px 2px 1px);
    left: 60%;
    animation: about-icon-360 10s infinite;
    transition: ease-in-out;
}

.mission {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.fsq-button-01 {
    border-radius: 50px !important;
    margin: 10px 0px;
    filter: drop-shadow(0px 0px 3px);
}

.fsq-item {
    border: unset;
    margin: 20px 0px;
}
.fsq-container {
    padding: 50px;
}
.accordion-flush .accordion-collapse {
    border-width: 0;
    background-color: #2d3843;
    margin-top: -10px;
    border-bottom-left-radius: 20px;
    margin: -10px 30px;
    border-bottom-right-radius: 20px;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    color: #2d3843;
}

.accordion-button:focus {
    z-index: 3;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}


/*------------------------------------------------ start Contact Us --------------------------------------------  */
.contact-container{
    text-align: center;
}

.contact-card-body{
    text-align: center;
    max-width: 300px;
   
}

.contact-card{
    border:2px solid #EF3F23;
    padding: 10px;
    border-radius:10px;
    transition: 0.6s ease-out;
}



.contact-icon .bi{
    display: inline;
    border-radius: 50px;
    font-size: 40px;
    color:#EF3F23;
}

.contact-text{
    margin: 20px 0px;
}

.contact-text h4{
    font-size: 25px;
    font-weight: 700;
    color: #222;
}

.contact-text p{
    font-size: 18px;
    font-weight: 500;
}

textarea {
    width: 100%;
    border: unset;
    border-bottom: 2px solid;
    padding: 10px 20px;
}
.input-container{
    width: 50%;
    margin: 5px 0px;
}


input{
    width: 100%;
    border: unset;
    border-bottom: 2px solid;
    padding: 10px 20px;
    
}
select{
    width: 100%;
    border: unset;
    border-bottom: 2px solid;
    padding: 10px 20px;
}
:focus-visible {
    outline: unset;
}

option{
    color: #22222277;
    font-size: 18px;
}
select{
    color: #222;
    font-size: 18px;
}

input::placeholder{
    color: #22222277;
    font-size: 18px;
}
textarea::placeholder{
    color: #22222277;
    font-size: 18px;
}
.form-container{
    border:2px solid;
    margin: 100px 0px;
    padding: 80px 65px;
}
 
.contact-heading {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact-heading h3{
    color:#222;
    background-color:#fff;
    margin-top: -105px;
}


/*------------------------------------------------ end Contact Us --------------------------------------------  */


/* ----------------------------------------------start actionable-tool---------------------------------------------- */
.actionable-heading h4{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

/* ----------------------------------------------end actionable-tool---------------------------------------------- */


/* --------------------------------------------- start product page -------------------------------------------------*/
.product{
    height: 100%; 
    overflow-y: scroll;
}

.inner-product-list{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 60vh;
    overflow-x: hidden;
    padding: 0px 20px;
}
.product-list-name{
    border-bottom: 2px solid
}

.accordion-item{
    margin: 10px 20px !important;
}
.product-list-group{
    border: unset !important;
    font-size: 20px;
    padding: 15px 10px !important;
    font-weight: 600;
}
.product-list-group-item{
    border: unset !important; 
    transition-duration: 5s ease-in;
    transition-delay: 5ms;
}

.product-list-group-item:hover{
    /* transform: scale(1.1); */
    background-color: #2D3843 !important;
    color: #fff !important;
    border-radius: unset !important;
    box-shadow: 1px 2px 2px #000;
    transition-duration: 5s ease-in;
    transition-delay: 5ms;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #2D3843 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #2D3843 !important;
}
.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #2D3843 !important;
    box-shadow: inset 0 -1px 0 #2D3843 !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: unset !important;
    transform: rotate(-180deg);
    /* background-image: url(../../images/goodaid-icon-logo.png) !important; */
    background-color:#fff;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    /* background-image: url(../../images/goodaid-icon-logo.png) !important; */
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    
}

.product-content h5 a {
    font-size: 18px;
    text-decoration: none;
    color: #424F5D;
}
.product-content p{
    font-size: 15px;
    font-weight: 600;
}
.enquire-btn{
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.enquire-btn:hover {
    color: rgb(210, 48, 146) !important;
    animation: border-animation 0.5s;
}

.product-item-name-right{
    padding: 0px 30px;
}

/* .product-list-name{
    margin: ;
} */
/* --------------------------------------------- end product page -------------------------------------------------*/




/*-----------------------------------------------------Start footer --------------------------------------------------- */
footer{
    background-color:#2d3843;
}

.footer-card-title{
    position: relative;
    color: #fff;
    font-weight: 600;
    
}
.footer-card-title h4::after{
    content: '';
    width: 20%;
    height: 3px;
    border-radius:10px;
    background-color: #fff;
    display: block;
    /* animation: border-animation 0.5; */

}
.footer-list-content a{
   
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.choose-list:hover .footer-list-content a{
    animation: border-animation 0.5s;
    transition: all 0.2s ease-in-out 0s;
    color: #fff;
}

.app-download-bt:hover a{
    box-shadow:none !important;
}
.app-download-btn a img{
    width: 100% !important;
}

.footer-card-body img{
    margin: 20px 0px;
}
/*-----------------------------------------------------footer footer --------------------------------------------------- */