.color-1{
    border-bottom: 5px solid rgb(210, 48, 146) !important; 
}

.color-2{
    border-bottom: 5px solid rgb(77, 184, 78) !important; 
}

.color-3{
    border-bottom: 5px solid rgb(249, 56, 34) !important
}

.color-4{
    border-bottom: 5px solid rgb(255, 209, 0) !important;
}

.color-5{
    border-bottom: 5px solid rgb(0, 154, 206) !important; 
}

.color-6{
    border-bottom: 5px solid rgb(136, 139, 141) !important; 
}

.color-7{
    border-bottom: 5px solid rgb(244, 117, 34) !important;
}

.color-8{
    border-bottom: 5px solid rgb(200, 130, 64) !important; 
}

.color-9{
    border-bottom: 5px solid rgb(255, 88, 93) !important; 
}

.color-10{
    border-bottom: 5px solid rgb(255, 88, 93) !important;
}

.color-11{
    border-bottom: 5px solid rgb(255, 209, 0) !important;
}

.color-12{
    border-bottom: 5px solid rgb(200, 130, 65) !important; 
}
